---
layout: page
title: "About"
#description: "Hey, this is gao-xiao-long."
description: "物有本末，事有终始，知所先后，则近道矣"
header-img: "img/home-bg-art.jpg"
---

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>这个人很懒，什么都没有留下。</p></blockquote>

    <p>Hey，还没想好怎样介绍自己 <p>

</div>
<h4 id="">个人信息</h4>

<ul>
<li>高龙/男/1988</li>

<li>工学硕士/吉林大学</li>

<li>工作年限：5年</li>

<li>技术博客：http://gao-xiao-long.github.io/</li>

<li>手机：15010821379</li>

<li>邮箱：xiuzhi08@gmail.com</li>
</ul>

<h4 id="-1">工作经历</h4>

<ul>
<li>2014.10 ~    至今： 百度地图  资深研发工程师(技术级别：T6)</li>

<li>工作内容：</li>
</ul>

<ol>
<li>作为技术负责人，维护日PV330亿左右的<a href="http://lbsyun.baidu.com/index.php?title=webapi/guide/webservice-geocoding">逆地理编码服务</a></li>

<li>作为核心研发，维护日活跃设备300万，日上传轨迹20亿的<a href="http://lbsyun.baidu.com/index.php?title=yingyan">轨迹服务</a></li>
</ol>

<ul>
<li>2013.07 ~ 2014.10： 360搜索   搜索研发工程师</li>

<li>工作内容：</li>
</ul>

<ol>
<li>独自承担新闻首页排序方向开发及优化</li>

<li>参与新闻去重及新闻抓取方向开发及优化</li>
</ol>

<h4 id="-2">项目经验：</h4>

<ol>
<li><p>逆地理编码服务(RGC)接入层&amp;&amp;引擎层优化：
工作：作为技术负责人, 带领1人完成逆地理编码服务接入层&amp;&amp;引擎层架构优化，提升系统性能及SLA
收益：
    1. 12核心CPU极限QPS 1800 ~ 10000;
    2. SLA 3个9到5个9
    3. 内部用户耗时10ms ~ 2ms 左右
    4. 地图内部最快分流库(单线程QPS：16W+, 内存占用500KB)
    5. 基础库及分流库方案落地其他方向</p>

<p>技术点：网络IO模型; mmap内存映射；leveldb单机架存储；高性能分流库；C++
其他：RGC服务稳准快全多方位提升（RGC国际化、RGC实时干预平台、RGC准确性提升.....）
项目思路：
odp、uii。 原来为啥这样子，后面为啥会改过来，做了啥东西。
开放平台核心DB升级：讲解对leveldb理解？对mamp的理解？</p></li>

<li><p>地图及轨迹服务过载保护项目
工作：1. 作为参与者，参与地图过载保护项目设计开发; 作为技术负责人，完成轨迹服务过载保护设计开发
收益：
    1. 地图核心服务具备过载保护能力
    2. 轨迹服务具备了自适应的过载保护能力
技术点：过载本质; Little's law; 并发控制；速度控制；自适应调整；</p></li>
</ol>

<h4 id="-3">技术点</h4>

<ol>
<li>熟悉内存分配原理
学习tcmalloc源码，切入到轨迹服务方向不到一个月时间里，基于对内存分配器内部原理的深入理解，将tcmalloc应用到地理围栏子服务中，使90分位响应时间比原来降低60%，缓解了性能压力, 并在团队内分享《tcmalloc原理剖析》一次，并推广到其他模块。</li>

<li>熟悉常用RPC框架底层的网络IO模型
学习muduo等网络框架源码，原理及代码层面了解网络框架，分析现象后面的本质原因。比如很早前遇到过网络问题导致内存不停上升。但是不明白原因，了解了IO buffer就很容易明白为什么上升原因。</li>

<li>熟悉单机存储引擎原理（如leveldb, 文件mmap）
学习leveldb等单机存储引擎源码，以及相比mmap文件映射数据库的优势及劣势。用来解决自研HashMapDB内存过大&amp;&amp;数据分散导致内存浪费及性能下降问题。
深入分析基于mmap的文件DB在虚拟化迁移中遇到的问题，解决了RGC迁移到ORCP导致SLA降低的问题，撰写《mmap文件映射导致系统平响异常情况分析》一文。</li>

<li>熟悉C++、Python、多线程编程</li>

<li>了解Redis、Hadoop、流式计算、分布式一致性协议</li>
</ol>

<h4 id="-4">自我评价</h4>

<ol>
<li>自我驱动力强；例：很长一段时间内早晨7左右到公司，学习优秀开源代码, 并应用到工作中；</li>

<li>抗压能力强；  例：顶住压力，2周内从零开发上线时区服务；多次通宵紧急响应客户需求，避免大客户流失；</li>

<li>心态乐观：    例：喜欢探索诸如儒家，佛家的思想，习惯将生活中的逆境当做自己成长的机会。</li>
</ol>

{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
